{{#each rows}}
    <div class="row">
        {{#each columns}}
            <div class="{{column}} {{columnCss}}">
                {{#if isPanel}}
                    <div {{directive}} class="panel panel-default {{widget.panelClasses}}">
                        <div class="panel-heading {{widget.headerClasses}}">
                            <h3 class="panel-title">
                                {{widget.widgetName}}
                            </h3>
                            <ul class="panel-controls">
                                {{#each widget.widgetControls}}
                                    <li class="{{classNames}}" {{directive}}>
                                    </li>
                                {{/each}}

                            </ul>
                        </div>
                        <div class="panel-body {{widget.bodyClasses}}">
                            <div class="layout-full-width {{widget.directive.containerCss}}" {{widget.directive.type}} opts="{{jsonHelper widget.directive.columns}}"
                                    rows="{{widget.directive.rowsObject}}" tableId="{{widget.directive.tableId}}" columndefs="{{widget.directive.columndefs}}"></div>
                        </div>
                    </div>
                {{/if}}
                {{#if isSimple}}
                    <div class="widget widget-default {{classHelper widget.widgetCss}}">
                        <div class="widget-item-left marhelp"><span class="{{widget.imageLink}}"></span>
                        </div>
                        <div class="widget-data padhelp">
                            <div class="widget-int num-count lynhgt">
                                <span class="font24">{{widget.widgetValue}}</span>
                            </div>
                            <div class="widget-title font12">{{widget.widgetName}} </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </div>
{{/each}}







